<h1><center> Plot Index Page </center></h1>
<hr>

<% @plots.each do |plot| %>
  <div id="plot-<%= "#{plot.number}" %>">
  <p>Plot Number: <%= plot.number %> </p>

  <% plot.plants.each do |plant| %>
  <div id="plant-<%= "#{plant.id}" %>">
    <p> Plants in Plot: <%= plant.name %> </p>
    <%= link_to "Remove Plant", plot_plant_path(plant.id), method: :delete %>
    </div>
  <% end %>
  </div>
<% end %>