<h1>Plots</h1>

<% @plots.each do |plot| %>
  <section id="plot-<%= plot.id %>">
    <h2>Plot <%= plot.number %></h2>
    <% plot.plants.each do |plant| %>
      <section id="plant-<%= plant.id%>">
        <p><%= plant.name %></p>
        <%= button_to 'Delete', plot_plant_path(plot, plant), method: :delete %>
      </section>
    <% end %>
  </section>
<% end %>