<h2>All Plots</h2>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <b>Plants in Plot #<%= plot.number %>:</b>
    <div id="plants-<%= plot.id %>">
    <% plot.plants.each do |plant| %>
      <ul>
      <li><%= plant.name %> | <%= link_to "Remove #{plant.name}", plant_plot_path(plant.id, plot.id), method: :delete %>
      </ul>
    <% end %>
    </div>
  </div>
<% end %>